/*
.grid-basic-page {

  ion-col div {
    background-color: #F9FAFB;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }

}
*/

/*Changes of the basic label widths*/
.toggleLabel ion-label{
  width: 100%;
  max-width: 100%;
}

/*Changes of the basic toggle border*/
.settingsToggle {
  border: none;
  width: 15%;
}

/*Changes in the font of the address form for the specified gender*/
.genderLabel {
  font-size: 16px;
}



/*Correction of toggle positions*/
.settingsToggle .toggle {
  left: 15px;
  top: auto !important;
  position: relative;
}

.item {
  border: none;
}

/*Style changes of the radio buttons for the gender selection*/
.item-radio .item-content {
  height: 63px;
  border: solid 1px;
  border-radius: 30px;
}

.item-radio .radio-icon{
  right: 14px;
}
