<!--
html file for the "DetailContact" view
contains information about the emergency contact.
29.11.2016 nosec1
-->

<ion-view view-title="Kontaktdetails">
  <div id="wrapper">
    <ion-content  scroll="false">
      <div class="col col-center">
      <div class="row row-center">
        <h3>Adresse:</h3>
        <div class="card">
          <div class="item item-text-wrap" id="dCAddress">
            Herr<br>
            Dr. Hanspeter Wenger<br>
            Kreuzweg 10<br>
            2502 Biel
          </div>
        </div>
      </div>

      <div class="row row-center">
        <h3>Telefon:</h3>
        <div class="card">
          <div class="item item-text-wrap" id="dCPhone">
            032 555 55 55
          </div>
        </div>
      </div>

      <div class="row row-center">
        <h3>E-Mail:</h3>
        <div class="card">
          <div class="item item-text-wrap" id="dCPhone">
            hanspeter.wenger@hin.ch
          </div>
        </div>


      </div>
    </ion-content>
  </div>
</ion-view>
