<ion-view view-title="Home">
    <ion-content class="padding">
      <div class="placeHolder"></div>
      <div class="firstRow">
          <a class="Home-Button" id="bGew" href="#/app/Weight">Gewicht</a>
          <a class="button icon Home-Button" id="bPuls" href="#/app/Pulse">Puls</a>
      </div>
      <div class="secondRow">
          <a class="button icon Home-Button" id="bDia" href="#/app/Sugar">Diabetes</a>
          <a class="button icon Home-Button" id="bMe" href="#/app/Me">About Me</a>
      </div>
    </ion-content>
</ion-view>
