<ion-view view-title="Home">
    <ion-content class="padding">
      <div class="placeHolder"></div>
      <div class="row">
        <div class="col">
          <a class="Home-Button" id="bGew" href="#/app/Weight">Gewicht</a>
        </div>
        <div class="col">
          <a class="button icon Home-Button" id="bPuls" href="#/app/Pulse">Puls</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button icon Home-Button" id="bDia" href="#/app/Sugar">Diabetes</a>
        </div>
        <div class="col">
          <a class="button icon Home-Button" id="bMe" href="#/app/Me">About Me</a>
        </div>
      </div>
    </ion-content>
</ion-view>
