<ion-view view-title="Home">
  <div id="wrapper">
    <ion-content class="padding">
      <div id="layout" style="display: inline-block float: left">
        <div id="11" class="content-box">
          <label id="1">
        </div>
        <div id="11_">
          <div id="firstColumn">
            <p>
              <a class="button icon Home-Button" id="bGew" href="#/app/Weight">Gewicht</a>
            </p>
            <p>
              <a class="button icon Home-Button" id="bDia" href="#/app/Sugar">Diabetes</a>
            </p>
          </div>
          <div id="secondColumn">
            <p>
              <a class="button icon Home-Button" id="bPuls" href="#/app/Pulse">Puls</a>
            </p>
            <p>
              <a class="button icon Home-Button" id="bMe" href="#/app/Me">About Me</a>
            </p>
          </div>
        </div>
        <div id="03">
        </div>
      </div>
    </ion-content>
  </div>
</ion-view>
