<ion-view view-title="Login">
  <ion-content class="padding">
    <div>
      <h1 ng-modal="msgHead">{{msgHead.message}}</h1>
      <input type="email" ng-modal="login.User" placeholder="Username" value="{{login.User}}">
      <input type="password" ng-modal="login.Password" placeholder="Password" value="{{login.Password}}">
    <div>
      <a class="button button-full" id="bLogin" ng-click="saveUserdata(); setLoginMessage(loginMIDATA())">Login to MIDATA</a>
    </div>
    <div>
      <a class="button button-full" id="bLogout" ng-click="logoutMIDATA()">Logout</a>
    </div>
  </ion-content>
</ion-view>
