<!--
html file for the "Me" view
contains information about the owner of the app.

The content is in a grid with a cell for each item.
The grid is built as
-two rows
-each containing 3 columns
-their size and further division is individual.

15.11.2016 nosec1
-->


<ion-view view-title="Me">
  <div id="wrapper">
    <ion-content class="padding" scroll="false">
      <div class="meContainer">
<!--The upper row-->
      <div class="row rowMe">
        <!--Cell for the picture, smaller than the other 2 in the row.-->
          <div class="col col-20 col-center" id="bild">
            <img src="img/Elisabeth.jpg" id="pPicture">
          </div>
        <!--second column of the top row, for the anamnesis, divided into two rows-->
          <div class="col col-40 rowMeInner">
            <div class="row rowTitle">
              <h2>Anamnese</h2>
            </div>
            <!--second row, cell for the list of anamneses.-->
            <div class="row rowList">
              <ion-scroll class="listBorder item-text-wrap" overflow:scroll="true" scrollbar-y="true" direction="y" id="anamnesisList">
                <ion-item ng-repeat="item in anamneseItems" class="item scrollFont myItem">
                  {{item.desc}}
                </ion-item>
              </ion-scroll>
            </div>
          </div>
          <!--third column of the top row, for the diagnosis, divided into two rows.-->
          <div class="col col-40 rowMeInner">
            <div class="row rowTitle">
              <h2>Diagnose</h2>
            </div>
            <!--second row, cell for the list of diagnoses.-->
            <div class="row rowList">
              <ion-scroll class="listBorder item-text-wrap" overflow:scroll="true" scrollbar-y="true" direction="y" id="diagnosisList">
                <ion-item ng-repeat="item in diagnoseItems" class="scrollFont myItem">
                  {{item.desc}}
                </ion-item>
              </ion-scroll>
            </div>
          </div>
      </div>
      <!--Middle row to put distance between the top and bottom ones.-->
      <div class="row rowMePadding">
      </div>

      <!--The bottom row-->
      <div class="row rowMe">
        <!--The first column of the bottom row, for the address, divided into 3 rows.-->
        <div class="col rowMeInner">
          <div class="row rowTitle">
            <h2>Adresse</h2>
          </div>
          <!--Middle row-->
          <div class="row meFont rowAddress">
            <div class="card meCard">
              <div class="item item-text-wrap" id="dCAddress">
                <!--<div>
                  <h2>Adresse</h2>
                </div>-->
                <div class="meFont">
                  Frau<br>
                  Elisabeth Brönnimann<br>
                  Kreuzweg 11<br>
                  2500 Biel<br>
                </div>
              </div>
            </div>
          </div>
          <!--bottom row-->
          <!--<div class="col meFont">-->
          <div class="col meFont rowTitle">
            <h2>Geburtsdatum:</h2>
          </div>
          <div class="col meFont rowBirthdate">
            <p id="pBirthdate">03. Mai 1937</p>
          </div>
        <!--  </div> -->
        </div>
        <!--The second column of the bottom row, for emergency contacts.-->
        <div class="col rowMeInner">
          <div class="row rowTitle">
            <h2>Notfallkontakte</h2>
          </div>
          <div class="row rowSubtitle">
            <h3>Hausarzt:</h3>
          </div>
          <div class="row rowButton">
            <a class="Button btn_full meFont" id="bHausarzt" href="#/app/DetailContact">Dr. Hanspeter Wenger</a>
          </div>
          <div class="row rowSubtitle">
            <h3>Kontaktperson:</h3>
          </div>
          <div class="row rowButton">
            <a class="Button btn_full meFont" id="bKontaktperson">Kurt Brönnimann</a>
          </div>
        </div>
        <!--The third column of the bottom row, for more contacts.-->
        <div class="col rowMeInner">
          <div class="row rowTitle">
            <h2>Weitere Kontakte</h2>
          </div>
          <div class="row rowButton">
            <a class="Button btn_full meFont" id="bWeitereKontakte1">Markus Brönnimann</a>
          </div>
          <div class="row rowButton">
            <a class="Button btn_full meFont" id="bWeitereKontakte2">Margrith Brönnimann</a>
          </div>
          <div class="row rowButton">
            <a class="Button btn_full meFont" id="bWeitereKontakte3">Miriam Brönnimann</a>
          </div>
      </div>
    </div>
    </div>
    </ion-content>
  </div>
</ion-view>
