<!--
HTML File of the settings page
Page contains basic information about the user and a toggle that prevents changes in the settings
- Name/Firstname
- Address/ZIP/City
- Birthdate
- enable settings toggle
-->
<ion-view view-title="Settings">
  <div id="wrapper">
    <ion-content class="padding">

<div class="contactWrapper">
      <div class="row">
          <ion-item>
            <ion-label>Mann</ion-label>
            <ion-radio value="Mann" checked="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Frau</ion-label>
            <ion-radio value="Frau"></ion-radio>
          </ion-item>
      </div>


      <div class="row">
        <div class="col">
          <ion-item>
            <ion-label color="primary">Vorname</ion-label>
            <input type="text" value="Vorname"></input>
          </ion-item>

          <ion-item>
            <ion-label color="primary">Nachname</ion-label>
            <input type="text" value="Nachname"></input>
          </ion-item>
        </div>

        <div class="col">
          <ion-item>
            <ion-label color="primary">Adresse</ion-label>
            <input type="text" value="Adresse"></input>
          </ion-item>
        </div>

        <div class="col">
          <ion-item>
            <ion-label color="primary">PLZ</ion-label>
            <input type="text" value="PLZ"></input>
          </ion-item>
        </div>

        <div class="col">
          <ion-item>
            <ion-label color="primary">Ort</ion-label>
            <input type="text" value="Ort"></input>
          </ion-item>
        </div>

      </div>
    </div>

      <div class="row">
        <div class="col">
          <ion-item>
            <ion-label>Geburtsdatum</ion-label>
            <!--
        <ion-datetime displayFormat="DD MM YYYY" [(ngModel)]="event.month"></ion-datetime>
      -->
          </ion-item>
        </div>
        <!--
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date">
        </label>
        -->
      </div>

      <div class="row">
        <button class="button button-light ng-binding" ng-click="openDatePicker()">
          01. December 2016
        </button>
      </div>

      <div class="row">
        <div class="col">
          <ion-item>
            <ion-label color="primary">Blutzucker</ion-label>
            <ion-label color="primary">Obergrenze</ion-label>
            <input type="text" value="8"></input>
            <ion-label color="primary">Untergrenze</ion-label>
            <input type="text" value="4"></input>
          </ion-item>
        </div>
      </div>

      <div class="row">
        <div class="col col-20">
          <div class="toggleLabel">
            <ion-label>Persönliche Daten bearbeiten</ion-label>
          </div>
        </div>
        <!--
          No changes can be made in the settings if the toggle is turned off
          -->
        <div class="col">
          <ion-item class="settingsToggle">
            <ion-toggle disabled checked="false"></ion-toggle>
          </ion-item>
        </div>
      </div>

      <!--
        Changes in the settings need to be saved to prevent unintentional changes
        -->
      <button ion-button>Änderungen speichern</button>

    </ion-content>

  </div>
</ion-view>
