<!--
HTML File of the settings page
Page contains basic information about the user and a toggle that prevents changes in the settings
- Name/Firstname
- Address/ZIP/City
- Birthdate
- enable settings toggle
-->
<ion-view view-title="Settings">
  <div id="wrapper">
    <ion-content class="padding">

<div class="contactWrapper">
      <div class="row">
          <ion-item>
            <ion-label>Mann</ion-label>
            <ion-radio value="Mann" checked="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Frau</ion-label>
            <ion-radio value="Frau"></ion-radio>
          </ion-item>
      </div>


      <div class="row">
        <div class="col">

            <ion-label color="primary">Vorname</ion-label>
            <input type="text" placeholder="Vorname"></input>

        </div>
        <div class="col">

            <ion-label color="primary">Nachname</ion-label>
            <input type="text" placeholder="Nachname"></input>

        </div>

        <div class="col">

            <ion-label color="primary">Adresse</ion-label>
            <input type="text" placeholder="Adresse"></input>

        </div>

        <div class="col">

            <ion-label color="primary">PLZ</ion-label>
            <input type="text" placeholder="PLZ"></input>

        </div>

        <div class="col">

            <ion-label color="primary">Ort</ion-label>
            <input type="text" placeholder="Ort"></input>

        </div>

      </div>
    </div>

      <div class="row">
        <div class="col">

            <ion-label>Geburtsdatum</ion-label>


      <div class="row">
        <button class="button button-light ng-binding" ng-click="openDatePicker()">
          01. December 2016
        </button>
      </div>

      <div class="row">
        <div class="col">
            <ion-label color="primary">Blutzucker</ion-label>
            <ion-label color="primary">Obergrenze</ion-label>
            <input type="number" ng-change="changeUpperGlucoLevel()" ng-model="UpperGlucoValue" value="7.2" placeholder="{{Upper}}"/>
            <ion-label color="primary">Untergrenze</ion-label>
            <input type="number" ng-change="changeLowerGlucoLevel()" ng-model="LowerGlucoValue" value="4.5" placeholder="{{Lower}}"/>
        </div>
      </div>

      <div class="row">
        <div class="col col-20">
          <div class="toggleLabel">
            <ion-label>Persönliche Daten bearbeiten</ion-label>
          </div>
        </div>
        <!--
          No changes can be made in the settings if the toggle is turned off
          -->
        <div class="col settingsToggle">
            <ion-toggle disabled checked="false"></ion-toggle>
        </div>
      </div>

      <!--
        Changes in the settings need to be saved to prevent unintentional changes
        -->
      <button ion-button>Änderungen speichern</button>

    </ion-content>

  </div>
</ion-view>
